~$it 2 - Modelling 1.docx
Unit 2 - Modelling 1.docx
ex01/__pycache__/utils.cpython-312.pyc
ex01/__pycache__/Tal_utils.cpython-312.pyc
ex01/__pycache__/utils.cpython-312.pyc
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
EX03/HW3_330073489_209954445.zip
Screenshot 2025-05-21 at 17.27.24.png
